body{
  font-size: 18px;
}

header{
  text-align: center;
  margin: 2%
}
.main-piano {
  display: flex;
  justify-content: center;
}
.piano-key, .playing-key{
  padding: 30px;
  margin-left: -17px;
  width: 45px;
  height: 170px;
  border-left: 1px solid black;
  border-radius:0 0 3px 3px;
}

.piano-key:hover {
  background: linear-gradient(to bottom,rgb(170, 170, 170) 0%,#fff 70%)

}

.playing-key {
  background-color: lavender;
}

.black-key {
  height: 70px;
  width: 30px;
  margin:0 0 0 -1em;
  z-index:2;
  border:1px solid #000;
  border-radius:0 0 3px 3px;
  background: black
}

#e-key {
  padding-right: 48px;
}
.piano-label {
  margin: 0;
  font-weight: 600;

}

.textbox, .output-box{
  margin: 3% 5% 2%;
  border: 1px solid black;
  width: 70%;
  height: 75px;
  text-align: left;
  padding: 1%;
  text-overflow: initial;
  word-break: break-word;
  border-radius: 3px;
  justify-content: center;
  box-shadow: 4px 5px #e9e7e78c;
}
.textbox {
  margin-top: 0%;
}

.textbox-label {
  width: 70%;
  margin: 3% 5% 2%;
  word-break: break-word;
}

.textbox-note {
  width: 70%;
  font-size: 15px;
  font-style: italic;
  margin-top: 0;
  margin-left: 5%;
}

.play-button {
  width: 80px;
  height: 55px;
  background-color: lavender;
  border: 2px solid #ceceff;
  border-radius: 3px;

}

.play-button:hover, .play-button:active{
  background-color: lightblue;
}

