body {
  text-align: centter;
}

.main-piano {
  display: flex;
  margin: 5% 5% 7%;
}
.piano-key{
  padding: 3%;
  border: 2px solid black;
  width: 20px;
  height: 120px;
}

.textbox, .output-box{
  margin: 3% 5% 2%;
  border: 1px solid black;
  width: 50%;
  height: 75px;
  text-align: left;
  padding: 1%;
  text-overflow: initial;
}

